<section class="inner">
    <h1>
        True Decentralization
        <br>
        <br>
        <b>Community Contribution</b>   <i class="fad fa-users"></i>
    </h1>
    <p>There is no team or central party that awards fees with RFI & RFII. There is no interface needed to claim the fees. No action needs to be taken on the part of the holder other than to hold RFI or RFII in a wallet they control. With RFI & RFII, there are no vaults that could be hacked and drained or treasury funds that could be mis-managed. There is only the free market.
        <br>
        <br>
        The RFI & RFII smart contract is complete at launch. RFY is being implemented as a service to the community. There was no ICO, no pre-sale, and no fundraising of any kind. There are no more features to add. There is no individual or team to be relied upon to give RFI, RFII or RFY any value.
    </p>
</section>