<section class="inner">
    <h1>
        Introducing the RFI & RFII Layer 2
        <br>
        <br>
        <b>RFY</b><span>   </span>  <i class="fad fa-dollar-sign">   </i>
    </h1>
    <p>
        RFY will work similarly to RFI & RFII, that is to say, you will earn RFY by holding RFY.
        <br><br>
        The only other way to earn RFY, is to farm it, using your RFI, your RFII, your RFY or your RFII LP tokens.
        <br><br>
        To farm RFY, stake either your RFI, your RFII, your RFY or your RFII LP tokens on the platform. The contract will calculate how much RFI, or RFII, or RFY you have received during the time you've staked.
        <br><br>
        Upon withdrawing or claiming your capital from the platform, your RFI/RFII/RFY balance will also increase, giving you not only RFY, but also an increase of your staked token balance based on the easily accesible functions
        provided by the RFI contract.
        <br><br>
        Therefore staking on the RFY platform will not cause a loss of your RFI/RFII/RFY earnings that are based on volume and sent directly to holders' wallets.
        <br><br>
        RFII & RFY are not competitors to RFII. On the contrary, both tokens hope to boost the ecosystem and provide long term yields.
    </p>
</section>