
$purple: rgb(138, 20, 255, 1);
$dkpurple: rgb(66, 1, 131);
$blue: rgb(56, 0, 231, 1);
$ltblue: rgb(21, 224, 255);
$magenta: rgb(208, 0, 197, 1);
$trspurple: rgba(44, 7, 82, 0.5);
$white: rgb(255, 255, 255);
$dark: rgb(44, 44, 44);
$black: rgb(0,0,0);