<section class="inner">
    <h1>
        Layer 2 RFI, RFII & RFY Frictionless Yield Farming.
        <br><br>
        Earning you RFY.   <i class="fad fa-sync"></i>
    </h1>
    <p>
        Similarly to RFI, RFII works by applying a 1% fee to each transaction and instantly splitting that fee among all holders of the token.
    <br><br>
    Holders do not need to stake or wait for fees to be delivered. Fees are awarded by the smart contract and are immediately reflected in the holders balance.
    </p>
    
    <div class="buttons">
        <button><i class="fad fa-farm"></i><label>Stake RFI & RFII</label></button>
        <button><i class="fad fa-cash-register"></i><a target="_blank" href="https://info.uniswap.org/token/0x31acf54fae6166dc2f90c4d6f20d379965e96bc1">Uniswap</a></button>
    </div>
</section>